<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/application.css" />
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/underscore.min.js"></script>
    <script src="/javascripts/application.js"></script>
  </head>

  <body>
    <canvas width="500" height="500" id="canvas"></canvas>

    <div>
      <label for="">Smoothening Technique: </label>
      <input id="no-smoothening" type="radio" name="smoothening" value="none" checked/>
      <label for="no-smoothening">None</label>
      <input id="smart-smoothening" type="radio" name="smoothening" value="none"/>
      <label for="smart-smoothening">Smart</label>
      <input id="low-pass-smoothening" type="radio" name="smoothening" value="none"/>
      <label for="low-pass-smoothening">Low Pass</label>
    </div>

    <div>
      <input type="text" id="trace-path-name" />
      <button id="trace">Trace</button>
    </div>
    <div>
      <input type="text" id="save-path-name" />
      <button id="save">Save</button>
    </div>
  </body>
</html>
